version: '3.8'

services:
  v2raya:
    image: mzz2017/v2raya:latest
    container_name: v2raya
    environment:
      - TZ=Europe/Moscow
      - V2RAYA_LOG_FILE=/etc/v2raya/v2raya.log
      - V2RAYA_V2RAY_BIN=/usr/local/bin/xray
    volumes:
      - /Volume1/docker/v2raya:/etc/v2raya
      - /lib/modules:/lib/modules:ro
    ports:
      - "2017:2017"
      - "20170:20170"
      - "20171:20171"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Moscow
      - HTTP_PROXY=http://v2raya:20171
      - HTTPS_PROXY=http://v2raya:20171
    volumes:
      - /Volume1/docker/radarr:/config
      - /Volume2/media/movies:/movies
      - /Volume1/downloads/complete:/downloads
    ports:
      - "7878:7878"
    depends_on:
      - v2raya
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Moscow
      - HTTP_PROXY=http://v2raya:20171
      - HTTPS_PROXY=http://v2raya:20171
    volumes:
      - /Volume1/docker/sonarr:/config
      - /Volume2/media/tv:/tv
      - /Volume1/downloads/complete:/downloads
    ports:
      - "8989:8989"
    depends_on:
      - v2raya
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Moscow
      - WEBUI_PORT=8282
      - HTTP_PROXY=http://v2raya:20171
      - HTTPS_PROXY=http://v2raya:20171
    volumes:
      - /Volume1/docker/qbittorrent:/config
      - /Volume1/downloads:/downloads
    ports:
      - "8282:8282"
      - "6881:6881"
      - "6881:6881/udp"
    depends_on:
      - v2raya
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Moscow
      - AUTO_UPDATE=true
      - HTTP_PROXY=http://v2raya:20171
      - HTTPS_PROXY=http://v2raya:20171
    volumes:
      - /Volume1/docker/jackett:/config
      - /Volume1/downloads:/downloads
    ports:
      - "9117:9117"
    depends_on:
      - v2raya
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Moscow
    volumes:
      - /Volume1/docker/jellyfin:/config
      - /Volume2/media:/media
    ports:
      - "8096:8096"
    restart: unless-stopped
